<!--<form action='users_path' accept-charset="UTF-8" method="post">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <div>
    <label for="username">Username</label><br>
    <input type="text" name="user[username]" id="username">
  </div>
  <div>
    <label for="email">Email</label><br>
    <input type="email" name="user[email]" id="email"></textarea>
  </div>
    <div>
    <label for="password">Password</label><br>
    <input type="password" name="user[password]" id="password"></textarea>
  </div>
  <div>
    <input type="submit" name="commit" value="Create Article" data-disable-with="Create Article">
  </div>
</form>


<%=form_tag(users_path) do %>
    <%= label_tag 'username' %>
    <%= text_field_tag 'username'%> <br/><br/>
    <%= label_tag 'email' %>
    <%= text_field_tag 'email' %> <br/><br/>
    <%= label_tag 'password' %>
    <%= password_field_tag 'password' %><br/><br/>
    <div><%= submit_tag 'Save' %></div>
  <% end %>
  -->


