<div class="container justify-content-center my-5 text-center">
<p id="notice"><%= notice %></p>
<p>
  <strong>Username:</strong>
  <%= @user.username %> <br/><br/>
  <strong>Email:</strong>
  <%= @user.email %> <br/><br/>
</p>
<%= link_to 'Edit', edit_user_path(@user),class:"btn btn-primary mb-2" %> |
<%= link_to 'Back', root_path, class:"btn btn-primary mb-2"%>
</div>